/**************************
 *        GLOBALS         *
 **************************/
body {
  font-family: 'Merriweather', 'Liberation Serif', Georgia, Garamond, Times, 'Times New Roman', serif;
  font-size: 85%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Yanone Kaffeesatz', Impact, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

h1 { font-size: 60px; }
h2 { font-size: 50px; }
h3 { font-size: 40px; }
h4 { font-size: 30px; }
h5 { font-size: 20px; }
h6 { font-size: 20px; }

a {
  border-bottom: 2px solid black;
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: #333;
  border-bottom: 2px solid red;
}
*:focus {
  outline: none;
}
img {
  border: 2px solid white;
}
a:hover img {
  border: 2px solid red;
}
p {
  line-height: 1.5;
}
input.form-text, 
textarea {
  border: 2px solid black;
}
input.form-text:focus,
textarea:focus {
  border: 2px solid red;
}

/**************************
 *         LAYOUT         *
 **************************/
.container {
  width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
}

/**************************
 *         HEADER         *
 **************************/
.header {
  overflow: hidden;
  padding-bottom: 30px;
}
.header h1 {
  font-size: 75px;
  float: left;
  width: 120px;
  margin: 0 15px 0 0;
  padding: 0;
  line-height: 1;
}
.header h1 a {
  border-bottom: none;
  width: 120px;
  height: 120px;
  display: block;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: transparent url(../images/logo.png);
}
.region-header {
  float: left;
  width: 860px;
}
.region-header h2 {
  margin: 0 0 5px 0;
  font-size: 30px;
  text-transform: capitalize;
}
.region-header #block-block-1 {
  float: left;
  margin-top: 15px;
  width: 200px;
}
.region-highlight {
  background: transparent url(../images/border-dots.png) repeat-x bottom;
  padding-bottom: 25px;
}


/**************************
 *       NAVIGATION       *
 **************************/
.admin-menu #overlay-container {
  margin-top: 20px; /* Fix for using admin_menu with the overlay. */
}
.region-header ul.menu {
  float: right;
  width: 600px;
  margin-top: 50px;
}
.region-header ul.menu li {
  margin: 10px;
  list-style: none;
  padding: 0;
  float: right;
}
.region-header ul.menu li a {
  font-size: 18px;
  font-weight: lighter;
  font-family: 'Yanone Kaffeesatz', Impact, sans-serif;
  text-transform: uppercase;
}


/**************************
 *        SIDEBARS        *
 **************************/
.page-search .block h2, .search-info, .search-advanced {
  display: none;
}
.block-search {
  background: transparent url(../images/border-dots.png) repeat-x top;
  padding-top: 30px;
  clear: both;
}
.block-search input.form-text {
  font-size: 25px;
  color: black;
  font-style: italic;
  padding: 4px 4px 4px 31px;
  width: 965px;
  background: rgba(255, 255, 255, 0.5) url(../images/magnifier.png) no-repeat 5px 6px;
  border: none;
  font-family: 'Merriweather', 'Liberation Serif', Georgia, Garamond, Times, 'Times New Roman', serif;
  outline: none;
}
.block-search input.form-submit {
  display: none;
}
ol.search-results {
  padding-left: 0;
}
.search-results .title {
  font-size: 30px;
}

/**************************
 *        SIDEBARS        *
 **************************/


/**************************
 *         CONTENT        *
 **************************/
.main > h1.title {
  font-size: 30px;
  font-weight: lighter;
}

/* NODES */
.node-type-app .main h1 {
  margin-left: 35px;
}
.node-type-app .field-name-body {
  padding: 15px 0;
}
.node-type-app li.flag-favorite {
  display: block;
  margin-top: -50px;
  width: 30px;
}
.field.field-name-field-screenshots {
  float: right;
  margin: -20px 0 0 30px;
}

/* VIEWS */
.view-with-thumbnails {
  position: relative;
}
.view-with-thumbnails ul,
.view-with-thumbnails ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.view-with-thumbnails img {
  float: left;
  margin: 0 20px 0 0;
}
.view-with-thumbnails .views-row {
  padding: 20px 0;
  border-bottom: 1px dotted #aaa;
  overflow: hidden;
  position: relative;
}
.view-with-thumbnails h3 {
  margin: 0;
}
.view-with-thumbnails .views-exposed-form label,
.view-with-thumbnails #edit-sort-bef-combine-created-asc,
.view-with-thumbnails #edit-sort-bef-combine-title-desc,
.view-with-thumbnails #edit-sort-bef-combine-random-desc {
  display: none;
}
.view-with-thumbnails .views-exposed-form {
  position: absolute;
  top: -55px;
  right: 0;
}
.view-with-thumbnails .views-row > a:last-child,
.field-name-field-url a,
.view-with-thumbnails .views-exposed-form .form-item .form-item {
  float: left;
  font-family: 'Yanone Kaffeesatz', Impact, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
}
.view-with-thumbnails .views-exposed-form a {
  padding: 0 3px;
  color: #222;
}
.view-with-thumbnails .views-exposed-form .form-item > .form-item {
  margin-left: 10px;
}

/* FLAGS */
.view-with-thumbnails .flag-favorite {
  position: absolute;
  top: 30px;
  right: 0;
}
.flag-favorite a {
  display: block;
  width: 24px;
  height: 24px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: transparent url(../images/heart-sprite.png) no-repeat center top;
  border-bottom: none;
}
.flag-favorite a.unflag-action {
  background-position: center bottom;
}
.flag-throbber, .flag-waiting .flag-throbber {
  background: url(flag-throbber.gif) no-repeat right center;
  padding-right: 13px;
  display: none;
}

/* ADD NODE FORM */
.page-node-add label {
  font-family: 'Yanone Kaffeesatz', Impact, sans-serif;
  font-weight: normal;
  font-size: 25px;
}
.filter-wrapper, 
.grippie,
.page-node-add-app .form-required,
.page-node-add .field-edit-link,
.page-node-add .description {
  display: none;
}
.page-node-add-app .form-item-title, 
.page-node-add-app .field-name-field-url, 
.page-node-add-app .field-name-field-screenshots {
  float: left;
  width: 50%;
  clear: left;
}
.form-item-field-url-und-0-url {
  margin-top: 0;
}
.page-node-add-app .field-name-body {
  float: right;
  width: 50%;
  margin-top: -177px;
  margin-bottom: 30px;
}
.page-node-add-app .field-name-body textarea {
  height: 220px;
}
.page-node-add-app .form-actions {
  text-align: right;
  clear: both;
}
.page-node-add-app .form-actions input {
  font-size: 20px;
}
.vertical-tabs {
  clear: both;
}


/**************************
 *         FOOTER         *
 **************************/
